.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-form);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  h1 {
    cursor: default;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input,
    button,
    label {
      background-color: transparent;
      border-radius: 50px;
      border: var(--actif) solid 4px;
      height: 4rem;
      width: 20rem;
      padding-left: 1.5rem;
      font-size: 18px;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 0;
    }

    .noKeep,
    .yesKeep {
      background-color: black;
      color: white;
    }

    button {
      padding-top: .1rem;
      transition: all 0.2s ease-in-out;
    }

    .actif {
      cursor: pointer;
    }

    .actif:hover {
      background-color: black;
      color: white;
    }

    .inactif {
      cursor: default;
      color: var(--inactif);
      border: var(--inactif) solid 4px;
    }
  }
}
.login,
.slimeName,
.logOut {
  position: absolute;
  top: 2rem;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  border: var(--actif) solid 4px;
  height: 4rem;
  width: 20rem;
  font-size: 18px;
  padding-top: .1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 25px;
  color: var(--actif);
  text-decoration: none;

  p {
    font-family: "Courier New", Courier, monospace;
  }
}

.login:hover {
  background-color: black;
  color: white;
}

.errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  cursor: default;
}
