.backSite {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;

  .house {
    cursor: default;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 0;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    z-index: 20;

    .slimeContainer {
      height: 9vw;

      .slime {
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

.dialogue {
  height: 80vh;
  width: 28rem;
  border-radius: 50px;
  border: var(--actif) solid 4px;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  padding: 0 1rem 0 2rem;

  h2 {
    text-align: center;
  }
  div {
    height: 69vh;
    overflow: scroll;
    padding-right: .5rem;

    p {
      border: var(--actif) solid 4px;
      background-color: transparent;
      border-radius: 20px;
      padding: 0 1rem;
      max-width: 100%;
      cursor: default;
    }
  }

  div::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }

  div::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 50px;
  }

  div::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
  }
}

.furniture {
  width: 55rem;
  height: 43rem;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);

  .kitchen {
    position: absolute;
    height: 8rem;
    width: 11.5rem;
    z-index: 10;
    top: 29%;
    left: 89%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .cupboard {
    position: absolute;
    height: 11.5rem;
    width: 11.5rem;
    z-index: 10;
    top: 25%;
    left: 11%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .carpet {
    position: absolute;
    height: 5.5rem;
    width: 11.5rem;
    z-index: 10;
    top: 94%;
    left: 39%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .table {
    position: absolute;
    height: 10.5rem;
    width: 12.5rem;
    z-index: 10;
    top: 57%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .exclamCupboard1 {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    top: 10%;
    left: 11%;
    transform: translate(-50%, -50%);
    animation: exclamCupboard1 2s infinite linear;
  }

  .exclamKitchen {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    top: 29%;
    left: 89%;
    transform: translate(-50%, -50%);
    animation: exclamCupboard1 2s infinite linear;
  }

  .exclamTable {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    top: 57%;
    left: 55.5%;
    transform: translate(-50%, 280%);
    animation: exclamCupboard1 2s infinite linear;
  }

  .exclamCarpet {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    top: 44%;
    left: 39%;
    transform: translate(-50%, 600%);
    animation: exclamCupboard1 2s infinite linear;
  }
}

@keyframes exclamCupboard1 {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}
