.backSite {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;

  .house {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%, 6%);
    cursor: default;
    width: 50vw;

    .slime {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      position: absolute;
      top: 45%;
      left: 47%;
      transform: translate(0%, 0%);
      z-index: 10;
      cursor: pointer;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.grey {
  background-color: var(--slime-color-grey);
  border: solid var(--slime-border-grey) 2px;
}

.red {
  background-color: var(--slime-color-red);
  border: solid var(--slime-border-red) 2px;
}

.green {
  background-color: var(--slime-color-green);
  border: solid var(--slime-border-green) 2px;
}

.blue {
  background-color: var(--slime-color-blue);
  border: solid var(--slime-border-blue) 2px;
}
